html {
  height: auto !important;
  padding-bottom: 400px !important;
}
body {
  margin: 40px auto;
  max-width: 660px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
  font-family: Open Sans;
}
h1,
h2,
h3 {
  line-height: 1.2;
}
div {
  border: 3px solid black;
  margin: 10px 0 0;
}
img {
  max-width: 100%;
  height: auto;
}
